
#root{
    display: grid; 
    grid-template-columns: max-content 1fr; 
    grid-template-rows: 100vh; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". ."; 
  }

.header{
  max-width: 260px;
}

.navBar{
  margin: 20px 0 0 0;
  width: fit-content;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
}

.navBar ul{
  margin: 23px 0 0 0;
}
.navBar ul+ul{
  margin: 53px 0 0 0;
}

.navBar ul a:hover{
  font-weight: 800;
  color: #3C5CAF;
}

.navBar ul a:after{
    content: "";
    position: absolute;
    background-color: #3C5CAF;
    height: 2px;
    width: 0;
    left: 0;
    bottom: 0;
    transition: 0.3s;
  }

  .navBar ul a:hover:after{
    width: 100%;
  }


h1{
  font-weight: 400;
}

