
#root{
    display: grid; 
    grid-template-columns: max-content 1fr; 
    grid-template-rows: 100vh; 
    gap: 0px 0px; 
    grid-template-areas: 
      ". ."; 
  }

.header{
  max-width: 260px;
}

.navBar{
  margin: 20px 0 0 0;
  width: fit-content;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
}

.navBar ul{
  margin: 23px 0 0 0;
}
.navBar ul+ul{
  margin: 53px 0 0 0;
}

.navBar ul a:hover{
  font-weight: 800;
  color: #3C5CAF;
}

.navBar ul a:after{
    content: "";
    position: absolute;
    background-color: #3C5CAF;
    height: 2px;
    width: 0;
    left: 0;
    bottom: 0;
    transition: 0.3s;
  }

  .navBar ul a:hover:after{
    width: 100%;
  }

  .currentPage{
    font-weight: 800;
    color: #3C5CAF;
  }

  .currentPage:after{
    content: "";
    position: absolute;
    background-color: #3C5CAF;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
    transition: 0.3s;
  }

h1{
  font-weight: 400;
}

h2{
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

.burger{
  display: none;
  cursor: pointer;
}

.burger .line1,
.burger .line2,
.burger .line3{
  width: 35px;
  height: 3px;
  background-color: #000;
  margin: 5px;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

/* Media quaries */

/* Tablet */

@media  (max-width: 1024px){
    body{
      overflow-x: hidden;
    }
    #root{
      display: flex;
      flex-direction: column;
    }

    .header{
      max-width: 100%;
      position: sticky;
      top: 0;
      z-index: 1;
      background-color: #fff;
      padding-bottom: 10px;
    }

    .navBar{
      position: absolute;
      left: 0;
      height: 100vh;
      top: 24px;
      transform: translateX(-100%);
      transition: transform 0.3s ease-in;
      z-index: 1;
      background-color: #fff;
      padding-top: 45px;
      padding-right: 50px;
    }
    .burger{
      display: block;
      margin-top: 20px;
      margin-left: 15px;
      width: fit-content;
    }
    .drag{
      position: absolute;
      left: 0;
      height: 100%;
      width: 15vw;
      z-index: 1;
    }

     .burgerActive .line1{
      transform: translateY(8px) rotate(45deg);
    }
    .burgerActive .line2{
      opacity: 0;
    }
    .burgerActive .line3{
      transform: translateY(-8px) rotate(-45deg);
    }
    .opacacy{
      opacity: 0.5 !important;
    }
}

/* Phone */

@media  (max-width: 500px){
  html{
    height: auto;
  }
  .drag{
    width: 7vw;
    height: 100vh;
  }

}


.navBarActive{
  transform: translateX(0%);
}
